.env
volumes/
shared/
neo4j/
shared-backup/
.env.test
searxng/settings.yml
searxng/uwsgi*

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ansible
*.retry
!ansible.cfg
.vault_pass
!.vault_pass.example